* text=auto

*.py text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.json text eol=lf
*.sql text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.bat text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.docx binary
*.sqlite3 binary
